// // Home.scss

.content {
  // margin-top: 80px; 
  font-family: "Open Sans";
  .search-section{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-image: url(https://img.freepik.com/free-photo/abstract-blur-defocused-library-book-store-shop-interior_1203-9330.jpg?w=1380&t=st=1701646947~exp=1701647547~hmac=6fa6da45dcfdab2033c751c6ef27444ca0f5cc14f7c938c0860cc4ef1d16f177);
  background-size: cover; // Ensures that the background image covers the entire container
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
  
  h1 {
    font-size: 5rem;
    color: #003566; 
    font-weight: bold;
    margin-bottom: 20px;
  }
  .search-author {
    margin-top: 5px;
  }
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }

  button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
.book-cards {
  display: flex;
  flex-wrap: wrap;

  .book-card {
    width: 200px;
    height: 450px;
    margin: 10px;
    overflow: hidden;

    img {
      width: 200px;
      max-width: 100%;
      height: 300px;
      border-radius: 5px;
    }

    h3 {
      font-size: 1.2rem;
      margin: 10px 0;
    }

    p {
      font-size: 1rem;
      color: #555;
    }
  }
}
}