.top-nav {
  // background-color: #f7cc9e;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px;
  display: flex;
  justify-content:flex-start;
  color: rgb(7, 7, 7);

  a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(233, 155, 10);
    }
  }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
