/* Global styles */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation styles */

// .top-nav {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #215f99;
//   padding: 30px;
//   z-index: 1000;
//   margin-bottom: 150px;
// }

// .top-nav a {
//   text-decoration: none;
//   color: white;
//   margin-right: 15px;
// }

// .top-nav a:hover {
//   text-decoration: underline;
// }