/* Global styles */

.top-nav {
  // background-color: #f7cc9e;
  padding: 20px;
  display: flex;
  justify-content:flex-start;
  // align-items: center;
  color: rgb(7, 7, 7);

  a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(233, 155, 10);
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation styles */

// .top-nav {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #215f99;
//   padding: 30px;
//   z-index: 1000;
//   margin-bottom: 150px;
// }

// .top-nav a {
//   text-decoration: none;
//   color: white;
//   margin-right: 15px;
// }

// .top-nav a:hover {
//   text-decoration: underline;
// }